<!-- button creates the button and class="btn btn-primary" add some nice css styling -->
<!-- disabled is a property for the button which we tie to the typescript variable. property binding required the square brackets -->
<!-- click is a button event, and Event binding requires parenthesis, this time being set by typescript method  -->
<button class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
